<div>
  <p>
    - Τι είναι τα Σημεία και Τέρατα;
Δίκτυο για τη διάδοση της έντυπης αντικουλτούρας με τη συμμετοχή δημιουργών φανζίν, περιοδικών, κόμικ και βιβλίων.
 
  </br>
- Όταν λέμε δίκτυο, τι εννοουμε;
Τη σύνδεση ομάδων, εντύπων και προσώπων που μαζεύονται, συναποφασίζουν και εργάζονται όλα μαζί.
Δεν ψάχνουμε την πολιτική και πολιτιστική ταύτιση, αλλά συμφωνούμε στο μίνιμουμ αντιρατσισμού, αντισεξισμού, αντικουλτούρας.
</br>
 - Πώς συμμετέχει ένα έντυπο/ομάδα;
Τα έντυπα και οι ομάδες που δεν εκφράζονται μέσω της κυρίαρχης κουλτούρας, συμμετέχουν καταναλώνοντας χρόνο κι ενέργεια στις συνελεύσεις, δράσεις κι εργασίες του δικτύου, ενημερώνονται γι’ αυτές, σέβονται τα υπόλοιπα έντυπα και πρόσωπα, μοιράζονται γνώσεις και τεχνικές για την παραγωγή εντύπων, επικοινωνούν στην πράξη τον τρόπο λειτουργίας του δικτύου.
 
</br>
- Συνελεύσεις;
Κάθε τρεις εβδομάδες βρισκομαστε, συζητούμε και αποφασίζουμε όλα μαζί στο πλαίσιο δράσεων, αυτομόρφωσης, προβληματισμών ή προβλημάτων και προώθησης του δικτύου.
 
</br>
    - Τι δράσεις κι εργασίες έχει το δίκτυο;
Εξωστρεφείς που έχουν ως σκοπό την προώθηση νέων τρόπων [αυτοοργάνωσης και] συλλογικής δράσης:
άλλοτε έχουν μόνο πάγκους με έντυπα, κι άλλοτε παράλληλες εκδηλώσεις, προβολές, μηπερφορμάνς διοργανωμένες είτε από το κάθε έντυπο/ομάδα είτε συλλογικά από όλα τα έντυπα/πρόσωπα του δικτύου. Γίνονται σε δημόσιο χώρο ή φιλοξενούνται σε χώρους που μοιράζονται το ίδιο σκεπτικό κι έχουν ως σκοπό την προώθηση της έντυπης αντί-κουλτούρας.
Δράσεις εσωτερικές του δικτύου που έχουν ως σκοπό την έμπρακτη αλληλοστήριξη και αλληλοβοήθεια μεταξύ των προσώπων/εντύπων/ομάδων του δικτύου.
Οι εργασίες είτε αφορούν την προώθηση κάποιας δράσης (αφίσα, στένσιλ, αφισοκόλληση) και την προετοιμασία της, είτε γίνονται στο πλαίσιο αυτομόρφωσης του δικτύου.

</br>
- Πώς επικοινωνεί το δίκτυο με τον έξω κόσμο;
Μέσω της παρουσίας του στο δημόσιο χώρο, και μέσω του website simeiakaiterata.gr
</br>
- Πώς επικοινωνεί ο έξω κόσμος με το δίκτυο;
Είτε μας βρίσκει ως φυσικές παρουσίες σε κάποια δράση μας, είτε μέσω του email μας simeiakaiterata@mail.com
  </p>
</div>
